@import url("palette.css");

body {
  overflow: hidden;
}

#menuBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 150px;
  height: 150px;
}

.menuPopup {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: scale(.1);
  transition: transform 0.4s, top 0.4s, left 0.4s;
  height: 700px;
  width: 1000px;
  border: 3px solid var(--colour-text);  /* thicker outline when focused */
  border-radius: 10px;
  background-color: var(--colour-background);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  justify-content: center;
  align-content: center;
  visibility: hidden;
}

.menuPopup button{
  height: 250px;
  width: 300px;
  border-radius: 15px;
  background-color: var(--colour-green);
  font-size: 30px;
  font-style: bold;
}

.menuPopupOpen{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}