@import url("palette.css");

body {
  overflow: hidden;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease;
}

.version {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.warning {
  position: absolute;
  width: 200px;
  height: 250px;
  left: 50px;
  border: 2px solid var(--colour-text);
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;

  top: 50%;
  transform: translateY(-45%);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  visibility: hidden;
}

.warning-open {
  visibility: visible;
}

.warning img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.news {
  position: absolute;
  width: 200px;
  height: 250px;
  right: 50px;
  border: 2px solid var(--colour-text);
  border-radius: 8px;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;

  top: 50%;
  transform: translateY(-45%);
  gap: 5px;
}

.title {
  position: absolute;
  top: 50;
  width: 100%;
  height: 200;
  font-size: 50;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.title h1 {
  margin: 0;
  text-align: center;
}

.title img{
  position: relative;
  width:auto;
  height: 160px;
  left: 0;
  padding-right: 15px;
}

.socials {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.socials img {
  width: 50px;
  height: 50px;
  padding-left: 5px;
}

/* To style the log in field and inputs */
.login {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 700px;
  border: 2px solid var(--colour-text);
  border-radius: 8px;
  padding: 40px;
  background-color: var(--colour-background);
  display: flex;
  flex-direction: column; /* stack inputs + buttons vertically */
  gap: 20px; /* space between rows */
}

/* Make the first row (inputs) sit side by side */
.login input {
  flex: 1; /* equal widths */
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  border: 3px solid var(--colour-text);  /* thicker outline when focused */
  border-radius: 2px;
}

/* Create a small horizontal layout for the inputs */
#usernameInput, #passwordInput {
  width: calc(50% - 5px); /* half width minus small gap */
}

/* Place them on the same line */
#usernameInput, #passwordInput {
  display: inline-block;
}

/* Style the buttons */
.login button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--colour-primary);
  color: var(--colour-on-primary);
}

.login button:hover {
  background-color: var(--colour-primary-dark);
}
