@import url(/css/palette.css);
@import url(/css/sharedStyle.css);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/* *overview page* */
.app {
	max-width: 120rem;
	height: 80vh;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-areas: 'main side';
	gap: 2rem;
}

.welcome-msg {
	font-size: 2.4rem;
	margin: 2rem;
	color: var(--colour-primary-dark);
}

.overview {
	grid-area: main;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	gap: 1rem;
}

.date-container {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	color: #fff;
	background-color: var(--colour-primary-dark);
}

.date {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0 3rem;
}

.meals {
	display: flex;
	justify-content: space-around;
	background-color: var(--colour-green-background);
}

.meal {
	margin: 1rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: var(--colour-green);
}

.side-panel {
	grid-area: side;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
}

.side-panel-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--colour-accent-background);
	border-radius: 1rem;
}

.progress-circle-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

/**************** progress circle starts ****************/
.circular-progress {
	width: 20rem;
	height: 20rem;
	display: block;
	padding: 2rem 0 0 2rem;
	--size: 20rem;
	--half-size: calc(var(--size) / 2);
	--stroke-width: 2.5rem;
	--radius: calc((var(--size) - var(--stroke-width)) / 2);
	--circumference: calc(var(--radius) * pi * 2);
	--dash: calc((var(--progress) * var(--circumference)) / 100);
}
.circular-progress circle {
	cx: var(--half-size);
	cy: var(--half-size);
	r: var(--radius);
	stroke-width: var(--stroke-width);
	fill: none;
	stroke-linecap: round;
}
.circular-progress circle.bg {
	stroke: #ddd;
}
.circular-progress circle.fg {
	transform: rotate(-90deg);
	transform-origin: var(--half-size) var(--half-size);
	stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
	transition: stroke-dasharray 0.3s linear 0s;
	stroke: #5394fd;
}
/**************** progress circle ends ****************/

.circular-progress-toggle-bar {
	width: 100%;
	height: 3rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	gap: 0.5rem;
	padding: 0 0.5rem;
	border-radius: 1rem;
	background-color: var(--colour-primary);
}

.toggle-bar-item {
	padding: 0 1rem;
	flex: 1;
	height: 70%;
	border-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fff;
}

.toggle-bar-item.selected {
	color: #fff;
	font-weight: 700;
	background-color: var(--colour-primary-dark);
}
