@import url(./palette.css);
@import url(./sharedStyle.css);
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&display=swap');

/* #---------- Common settings ----------*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	color: #f1750998;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* #---------- overview page ----------*/
.app {
	max-width: 120rem;
	height: 75vh;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-areas: 'main side';
	gap: 2rem;
}

.welcome-msg {
	font-size: 2.4rem;
	margin: 2rem;
	color: var(--colour-primary-dark);
}

.overview {
	grid-area: main;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	gap: 1rem;
}

.date-container {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	color: #fff;
	background-color: var(--colour-primary-dark);
}

.date {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0 3rem;
	position: relative;
}

.date .flatpickr-calendar {
	position: absolute;
	margin-top: 4rem;
	left: 0;
	z-index: 999;
}

.date-picker {
	display: none;
}

.meals {
	display: flex;
	justify-content: space-around;
	background-color: var(--colour-green-background);
}

.meal {
	padding: 1rem;
	margin: 1rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: var(--colour-green);
	border-radius: 1rem;
}

.meal-section {
	padding: 1rem;
	background-color: #ffffffbf;
}

.meal-section-header {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.meal-header-text-title {
	font-family: 'Silkscreen', monospace;
	font-size: 2.5rem;
	margin: 0.5rem;
}

.meal-logo-img {
	width: 6rem;
	height: 4rem;
}

.meal-header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}

.meal-section-macro-summary {
	flex: 0.8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 3rem;
	background-color: #f1f7f2;
	font-size: 0.5rem;
	color: #3f4373;
}

.macro-summary-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.8rem;
	width: 100%;
	font-size: 1.5rem;
}

.macro-summary-item-text {
	flex: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.meal-section-food-items {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: #fffffff4;
}

.food-item-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.food-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	margin-bottom: 0.5rem;
	font-size: 1.8rem;
	border-radius: 1rem;
	padding: 0 1rem;
	background-color: #8fb7986a;
}

.food-item-quantity-input {
	width: 30%;
	border-radius: 3rem;
	background-color: #fff;
	border-color: #fff;
	padding-left: 1.5rem;
	text-align: center;
	opacity: 0.7;
}

.food-item-quantity-input:focus {
	color: #8fb7986a;
}

.food-item-delete-btn:hover {
	color: #f1750998;
}

.food-list-add-food-btn-container {
	width: 80%;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3rem;
	color: #fff;
	background-color: #3f4373;
	cursor: pointer;
}

.food-list-add-food-btn-container:hover {
	background-color: #f1750998;
	color: #fff;
}

.add-food-btn {
	margin-right: 1rem;
}

.add-food-btn-text {
	font-size: 1.5rem;
}

.side-panel {
	grid-area: side;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
}

.side-panel-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--colour-accent-background);
	border-radius: 1rem;
}

.progress-circle-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

/**************** progress circle starts ****************/
.circular-progress {
	width: 20rem;
	height: 20rem;
	display: block;
	padding: 2rem 0 0 2rem;
	--size: 20rem;
	--half-size: calc(var(--size) / 2);
	--stroke-width: 2.5rem;
	--radius: calc((var(--size) - var(--stroke-width)) / 2);
	--circumference: calc(var(--radius) * pi * 2);
	--dash: calc((var(--progress) * var(--circumference)) / 100);
}
.circular-progress circle {
	cx: var(--half-size);
	cy: var(--half-size);
	r: var(--radius);
	stroke-width: var(--stroke-width);
	fill: none;
	stroke-linecap: round;
}
.circular-progress circle.bg {
	stroke: #ddd;
}
.circular-progress circle.fg {
	transform: rotate(-90deg);
	transform-origin: var(--half-size) var(--half-size);
	stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
	transition: stroke-dasharray 0.3s linear 0s;
	stroke: var(--colour-green);
}
/**************** progress circle ends ****************/

.circular-progress-toggle-bar {
	width: 100%;
	height: 3rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	gap: 0.5rem;
	padding: 0 0.5rem;
	border-radius: 1rem;
	background-color: var(--colour-primary);
}

.toggle-bar-item {
	padding: 0 1rem;
	flex: 1;
	height: 70%;
	border-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #fff;
}

.toggle-bar-item.selected {
	color: #fff;
	font-weight: 700;
	background-color: var(--colour-primary-dark);
}

.set-goal-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.set-goal-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 5rem;
	color: var(--colour-background);
	background-color: var(--colour-primary-dark);
	font-size: 1.5rem;

	padding: 0 3rem;
	border-radius: 10rem;
}

.set-goal-btn:hover {
	background-color: #fff;
	font-size: 1.8rem;
}
