@import url(./palette.css);
@import url(./sharedStyle.css);
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&display=swap');

/* #---------- Common settings ----------*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	color: var(--colour-accent-background);
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* #---------- overview page ----------*/
.app {
	max-width: 130rem;
	height: 75vh;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 8fr 2fr;
	grid-template-areas: 'main side';
	gap: 2rem;
}

.welcome-msg {
	font-size: 2.4rem;
	margin: 2rem;
	color: var(--colour-text);
}

.overview {
	grid-area: main;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	gap: 1rem;
}

.date-container {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	color: var(--colour-on-primary);
	background-color: var(--colour-primary-dark);
}

.date {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0 3rem;
	position: relative;
}

.date .flatpickr-calendar {
	position: absolute;
	margin-top: 4rem;
	left: 0;
	z-index: 999;
}

.date-picker {
	display: none;
}

.meals {
	display: flex;
	justify-content: space-around;
	background-color: var(--colour-green-background);
}

.meal {
	padding: 1rem;
	margin: 1rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: var(--colour-green);
	border-radius: 1rem;
	width: 20rem;
}

.meal-section {
	padding: 1rem;
	background-color: var(--colour-grey);
}

.meal-section-header {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--colour-background);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.meal-header-text-title {
	font-family: 'Silkscreen', monospace;
	font-size: 2.5rem;
	margin: 0.5rem;
}

.meal-logo-img {
	width: 6rem;
	height: 4rem;
}

.meal-header-text {
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
}

.meal-section-macro-summary {
	flex: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 1.5rem;
	background-color: var(--colour-grey);
	color: var(--colour-text);
}

.macro-summary-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.8rem;
	width: 100%;
	font-size: 1.5rem;
}

.macro-summary-item-text {
	flex: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.meal-section-food-items {
	max-height: 25.2rem;
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: var(--colour-background);
	overflow: scroll;
}

.meal-section-food-items::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.food-item-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.food-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	width: 20rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	border-radius: 1rem;
	padding: 0 1rem;
	background-color: var(--colour-green-background);
}

.food-item-name {
	display: flex;
	justify-content: flex-start;
	flex: 0.8;
}

.food-item-empty {
	color: var(--colour-accent-background);
	background-color: transparent;
}

.food-item-content {
	width: 100%;
}

.food-item-quantity-input {
	width: 30%;
	border-radius: 3rem;
	background-color: var(--colour-background);
	border-color: var(--colour-background);
	padding-left: 1.5rem;
	text-align: center;
	opacity: 0.7;
}

.food-item-quantity-input:focus {
	color: var(--colour-green-background);
}

.food-item-delete-btn:hover {
	color: var(--colour-accent-background);
}

.food-list-add-food-btn-container {
	width: 80%;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3rem;
	color: var(--colour-on-primary);
	background-color: var(--colour-primary-dark);
	cursor: pointer;
}

.food-list-add-food-btn-container:hover {
	background-color: var(--colour-accent-background);
	color: var(--colour-on-primary);
}

.add-food-btn-text {
	font-size: 1.5rem;
}

.side-panel {
	grid-area: side;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
}

.side-panel-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--colour-accent-background);
	border-radius: 1rem;
}

.progress-circle-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

/**************** progress circle starts ****************/
.circular-progress {
	position: relative;
	width: 20rem;
	height: 20rem;
	display: block;
	--size: 25rem;
	--half-size: calc(var(--size) / 2);
	--stroke-width: 2.5rem;
	--radius: calc((var(--size) - var(--stroke-width)) / 2);
	--circumference: calc(var(--radius) * pi * 2);
	--dash: calc((var(--progress) * var(--circumference)) / 100);
}
.circular-progress circle {
	cx: var(--half-size);
	cy: var(--half-size);
	r: var(--radius);
	stroke-width: var(--stroke-width);
	fill: none;
	stroke-linecap: round;
}
.circular-progress circle.bg {
	stroke: #ddd;
}
.circular-progress circle.fg {
	transform: rotate(-90deg);
	transform-origin: var(--half-size) var(--half-size);
	stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
	transition: stroke-dasharray 0.3s linear 0s;
	stroke: #3d405b;
}
/**************** progress circle ends ****************/
.circular-value-fat circle.fg {
	stroke: var(--colour-ring-green);
}

.circular-value-protein circle.fg {
	stroke: var(--colour-ring-orange);
}

.circular-value-carbs circle.fg {
	stroke: var(--colour-ring-yellow);
}

.progress-circle-fat {
	display: none;
}

.progress-circle-protein {
	display: none;
}

.progress-circle-carbs {
	display: none;
}

.progress-circle-wrapper {
	display: none;
	position: relative;
}

.progress-circle-wrapper.active {
	display: block;
}

.progress-circle-text {
	font-family: 'Silkscreen', monospace;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.progress-circle-label {
	font-size: 1.5rem;
	font-style: italic;
	color: var(--colour-on-primary);
}

.circular-progress-toggle-bar {
	width: 100%;
	height: 3rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	gap: 0.5rem;
	padding: 0 0.5rem;
	border-radius: 1rem;
	background-color: var(--colour-primary);
}

.toggle-bar-item {
	padding: 0 1rem;
	flex: 1;
	height: 70%;
	border-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--colour-background);
}

.toggle-bar-item.selected {
	color: var(--colour-background);
	font-weight: 700;
	background-color: var(--colour-text);
}

.toggle-bar-item:hover {
	background-color: var(--colour-text);
	color: var(--colour-on-primary);
}

.set-goal-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.set-goal-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 5rem;
	color: var(--colour-on-primary);
	background-color: var(--colour-primary-dark);
	font-size: 1.5rem;

	margin-top: 5rem;
	border-radius: 10rem;
}

.set-goal-btn:hover {
	background-color: var(--colour-background);
	font-size: 1.8rem;
}
