:root {
	--colour-primary: #a8abc1;
	--colour-primary-dark: #3f4373;
	--colour-accent: #cd9f76;
	--colour-accent-background: #f1750998;
	--colour-green: #8fb798;
	--colour-dark-green: #6c8b73;
	--colour-green-background: #8fb7986a;
	--colour-background: #fbfbfb;
	--colour-background-dark: #e1e1e1;
	--colour-text: #000000;
}
