@import url("palette.css");

body {
  overflow: hidden;
}

.warning {
  position: absolute;
  width: 200px;
  height: 250px;
  left: 50px;
  border: 2px solid var(--colour-text);
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;

  top: 50%;
  transform: translateY(-45%);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  visibility: hidden;
}

.warning-open {
  visibility: visible;
}

.warning img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

/* To style the log in field and inputs */
.register {
  position: relative;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
  height: 110%;
  border: 2px solid var(--colour-text);
  border-radius: 8px;
  padding: 40px;
  background-color: var(--colour-background);
  display: flex;
  flex-direction: column; /* stack inputs + buttons vertically */
  gap: 20px; /* space between rows */
}

/* Make the first row (inputs) sit side by side */
.register input {
  margin-top: 15px;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  border: 3px solid var(--colour-text);  /* thicker outline when focused */
  border-radius: 2px;
}

.button {
  position: absolute;
  bottom: 200px;
  left: 40px;
  right: 40px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* Style the buttons */
.button button{
  bottom: 40px;
  flex: 1;
  min-width: 0;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--colour-primary);
  color: var(--colour-on-primary);
}

.button button:hover {
  background-color: var(--colour-primary-dark);
}
