@import url("palette.css");

/*** top bar CSS ***/
body {
    margin: 0;
    font-family: "Monaco", "Courier New", monospace;
    background-color: white;
    color: var(--colour-text);
}

.topBar {
    width: 100%;
    height: 75px;
    background-color: var(--colour-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.topBar h1 {
    margin: 0;
    font-size: 28px;
    color: black;
    letter-spacing: 1px;
}

.topBar img{
    height: 60px;          /* slightly smaller than bar height (75px) */
    width: auto;           /* keeps correct aspect ratio */
    margin-left: 20px;     /* small space from the left edge */
    margin-right: 15px;    /* space between logo and text */
    object-fit: contain;
}

.topBar div:first-child {
  display: flex;
  align-items: center;  /* centers the logo and text vertically */
}

.appName{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--colour-primary-dark);
    letter-spacing: 2px;
}

.logoutButt {
  background-color: var(--colour-primary-dark);
  color: var(--colour-background);
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/*** end of top bar CSS ***/