@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&display=swap');
@import url('palette.css');

/* ===================================== Jian's note ===================================== */
/* had to put those code here because I didn't use px, instead  */
/* I used rem(which makes sure differennt screen resolution has no effect on) */
/* the layout of the website, but it caused issue when I style navbar for other pages */
html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

/* ===================================== Jian's note end ===================================== */

/*** top bar CSS ***/
body {
	margin: 0;
	font-family: 'Monaco', 'Courier New', monospace;
	background-color: var(--colour-background);
	color: var(--colour-text);
}

/* the whole horizontal bar */
.topBar {
	width: 100%;
	height: 75px;
	background-color: var(--colour-primary);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* app name */
.topBar h1 {
	margin: 0;
	font-size: 28px;
	color: var(--colour-on-primary);
	letter-spacing: 1px;
}

/* logo picture */
.topBar img {
	height: 60px; /* slightly smaller than bar height (75px) */
	width: auto; /* keeps correct aspect ratio */
	margin-left: 20px; /* small space from the left edge */
	margin-right: 15px; /* space between logo and text */
	object-fit: contain;
}

.topBar div:first-child {
	display: flex;
	align-items: center; /* centers the logo and text vertically */
}

.rightButts {
	display: flex;
	align-items: center;
	/* gap: 80px; spacing between icon and button */
}

.rightButts img {
	margin-right: 3rem;
	width: 4rem;
}

.settings-icon {
	cursor: pointer;
	transition: 0.2s;
}

.settings-icon:hover {
	transform: translateY(-0.5rem);
}

.logoutButt {
	background-color: var(--colour-primary-dark);
	color: var(--colour-on-primary);
	padding: 10px 18px;
	border-radius: 8px;
	font-size: 16px;
	margin-right: 20px;
	cursor: pointer;
}

.logoutButt:hover {
	background-color: var(--colour-accent);
}

.settings-icon {
	width: 1rem;
	height: 1rem;
}
/*** end of top bar CSS ***/

/* setting popup window */
.setting-pop-up {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--colour-primary-dark);
	width: 100rem;
	height: 50rem;
	z-index: 999;
	border-radius: 3rem;
	flex-direction: column;
}

.setting-pop-up-header {
	height: 8rem;
	border-top-left-radius: 3rem;
	border-top-right-radius: 3rem;
	background-color: var(--colour-primary);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2rem;
}

.setting-close-btn {
	cursor: pointer;
	height: 5rem;
}

.setting-close-btn:hover {
	transform: translateY(-0.4rem);
}

.setting-pop-up-content {
	padding: 3rem;
	color: var(--colour-on-primary);
	font-family: 'Silkscreen', monospace;
	font-size: 3rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.setting-pop-up-change-username {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.setting-change-username-input {
	width: 30%;
	background: var(--colour-background);
	border-radius: 10rem;
	padding: 0.6rem 1.2rem;
	border: none;
	min-height: 4rem;
}

.setting-change-username-input:focus::placeholder {
	color: transparent;
}

.setting-change-username-confirm-btn {
	background-color: var(--colour-accent);
	color: var(--colour-on-primary);
	width: 10rem;
	height: 4rem;
	font-size: 1.5rem;
	font-family: 'Silkscreen', monospace;
	border-radius: 2rem;
	cursor: pointer;
}

.setting-change-username-confirm-btn:hover {
	transform: translateY(-0.3rem);
}

.setting-font-size-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 3rem;
}

.font-size-letter {
	width: 5rem;
	cursor: pointer;
}

.font-size-letter.selected {
	border: 0.2rem solid var(--colour-background);
}

.font-size-letter:hover {
	transform: translateY(-0.3rem);
}

.font-size-letter-1 {
	width: 4rem;
	height: 4rem;
}

.font-size-letter-2 {
	width: 5rem;
	height: 5rem;
}

.font-size-letter-3 {
	width: 6rem;
	height: 6rem;
}

.setting-color-container {
	margin-top: 1rem;
	display: flex;
	gap: 4rem;
}

.color-palette {
	width: 18rem;
	height: 5rem;
}

.color-palette-option {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.color-palette-option:hover {
	transform: translateY(-0.5rem);
}

.color-palette-option.selected {
	border: 0.3rem solid #fff;
}

.color-palette-text {
	margin-top: 0.3rem;
	font-size: 1.5rem;
	font-family: monospace;
}

.setting-color-big-container {
	display: flex;
	justify-content: flex-start;
	gap: 10rem;
}

.info-icon-color-explanation-container {
	display: flex;
	margin-top: 2rem;
}

.info-icon-color-explanation {
	cursor: pointer;
	width: 4rem;
	height: 4rem;
}

.info-icon-color-explanation:hover {
	transform: translateY(-0.5rem);
}

.setting-pop-up-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7); /* darkness */
	z-index: 1000;
}

.setting-pop-up-top-level-message {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--colour-primary-dark);
	width: 75rem;
	height: 25rem;

	/* this is has to be bigger than overlay of pop-up window, so 1001 */
	z-index: 1001;
	border-radius: 3rem;
	flex-direction: column;
}

.setting-pop-up-content {
	font-size: 1.5rem;
}

.setting-pop-up-content a {
	color: var(--colour-accent);
	text-decoration: underline;
}

.setting-pop-up-overlay {
	display: 'none';
	border-top-left-radius: 3rem;
	border-top-right-radius: 3rem;
}

/* this turns backgroun dark when popup window opened */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7); /* darkness */
	z-index: 998;
}

/* .menuBtn {
	position: fixed;
	bottom: 2%;
	right: 1.5%;
	width: 7%;
	height: auto;
	cursor: pointer;
} */

.navBar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--colour-on-primary);
	background-color: var(--colour-primary-dark);
}

.navbar-link {
	color: var(--colour-on-primary);
	font-size: 1.5rem;
	padding: 0.5rem 3rem;
	border-right: 0.2rem solid var(--colour-text);
}

.navbar-link.selected {
	background-color: var(--colour-primary);
}

.navbar-link:hover {
	background-color: var(--colour-primary);
}

.navBar button {
	color: var(--colour-on-primary);
	height: 40px;
	width: 140px;
	background-color: var(--colour-background);
	font-size: 15px;
	font-style: bold;
	border: none;
	background-color: var(--colour-primary-dark);
	border-radius: 0px;
}

.navBar button:hover {
	background-color: var(--colour-primary);
}
