@import url("palette.css");

.workoutHeading {
  text-align: left;
  margin-top: 20px;
}

.workoutHeading h2 {
  font-size: 24px;
  color: var(--colour-primary-dark);
  margin: 20;
}

.searchBar {
    width: 50%;
    height: 50px;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: left;
    align-items: center;
    position: static;
    outline-style: solid;
    outline-color: var(--colour-primary);
    background-color: var(--colour-background);
}

.searchBar img {
    height: 40px;
    width: auto;
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
    object-fit: contain;
}

.searchBar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background-color: transparent;
}

.exerciseSearch {
  width: 50%;
  margin: 1 auto;
  background-color: var(--colour-background);
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
  max-height: 300px;
  overflow-y: auto;
  /* padding: 10px; */
    outline-color: var(--colour-background-dark);
    outline-style: solid;
    outline-width: thin;
}

.exerciseResult {
  padding: 8px;
  /* border-bottom: 1px solid var(--colour-background-dark); */
  cursor: pointer;
}

.exerciseResult:hover {
  background-color: var(--colour-background-dark);
}

.noResults {
  color: var(--colour-text);
  opacity: 0.7;
  text-align: center;
  padding: 10px;
}

.exerciseWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* keeps label aligned left */
  margin-bottom: 20px;
}

.exerciseBox {
    width: 400px;
    height: 50px;
    outline-color: var(--colour-background-dark);
    outline-style: solid;
    outline-width: thin;
    margin-left: 150px;
    margin-top: 50px;
    /* font-size: 20px; */
    /* display: flex; */
    align-items: flex-end;
    background-color: var(--colour-background);
}

/* Inner text inside the box */
.exerciseBox::after {
  content: attr(data-name); /* use JS to set this attr */
  position: absolute;
  /* bottom: 10px;    distance from bottom */ 
  left: 160px;     /* slight offset from left edge */
  font-size: 18px;
  font-weight: 600;
  align-items: flex-end;
    margin-top: 25px;

  color: var(--colour-primary-dark, #333);
}

.setsLabel {
  margin-top: 6px;
  margin-left: 150px;
  font-size: 15px;
  color: var(--colour-text, #222);

}



/* .logout-btn:hover {
  background-color: var(--colour-accent);
} */

