@import url("palette.css");

/*** top bar CSS ***/
body {
    margin: 0;
    font-family: "Monaco", "Courier New", monospace;
    background-color: white;
    color: var(--colour-text);
}

.topBar {
    width: 100%;
    height: 75px;
    background-color: var(--colour-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.topBar h1 {
    margin: 0;
    font-size: 28px;
    color: black;
    letter-spacing: 1px;
}

.topBar img{
    height: 60px;          /* slightly smaller than bar height (75px) */
    width: auto;           /* keeps correct aspect ratio */
    margin-left: 20px;     /* small space from the left edge */
    margin-right: 15px;    /* space between logo and text */
    object-fit: contain;
}

.topBar div:first-child {
  display: flex;
  align-items: center;  /* centers the logo and text vertically */
}

.appName{
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--colour-primary-dark);
    letter-spacing: 2px;
}

.rightButts {
  display: flex;
  align-items: center;
  gap: 80px; /* spacing between icon and button */
}

.logoutButt {
  background-color: var(--colour-primary-dark);
  color: var(--colour-background);
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profileButt {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease, border-color 0.3s ease;
}
/*** end of top bar CSS ***/

.menuBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 150px;
  height: 150px;
}

.workoutHeading {
  text-align: left;
  margin-top: 20px;
}

.workoutHeading h2 {
  font-size: 24px;
  color: var(--colour-primary-dark);
  margin: 20;
}

.searchBar {
    width: 50%;
    height: 50px;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: left;
    align-items: center;
    position: static;
    outline-style: solid;
    outline-color: var(--colour-primary);
    background-color: var(--colour-background);
}

.searchBar img {
    height: 40px;
    width: auto;
    margin-top: 10;
    margin-left: 10;
    margin-right: 10;
    margin-bottom: 10;
    object-fit: contain;
}



/* .logout-btn:hover {
  background-color: var(--colour-accent);
} */

